<%= provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This is my Blog, built with <a href="http://rubyonrails.org/">Ruby on Rails</a>.  This
Blog is based on the <a href="http://railstutorial.org/">sample app</a> by Michael Hartl.
</p>
