/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* mixins, variables, etc. */
/* universal */
/* line 18, ../../app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
}

/* line 22, ../../app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 26, ../../app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
}

/* line 30, ../../app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 34, ../../app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}

/* typography */
/* line 40, ../../app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 44, ../../app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 51, ../../app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

/* line 60, ../../app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/* line 67, ../../app/assets/stylesheets/custom.css.scss */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
/* line 77, ../../app/assets/stylesheets/custom.css.scss */
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
/* line 85, ../../app/assets/stylesheets/custom.css.scss */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}
/* line 90, ../../app/assets/stylesheets/custom.css.scss */
footer a {
  color: #555;
}
/* line 92, ../../app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: #222;
}
/* line 96, ../../app/assets/stylesheets/custom.css.scss */
footer small {
  float: left;
}
/* line 99, ../../app/assets/stylesheets/custom.css.scss */
footer ul {
  float: right;
  list-style: none;
}
/* line 102, ../../app/assets/stylesheets/custom.css.scss */
footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */
/* line 111, ../../app/assets/stylesheets/custom.css.scss */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidebar */
/* line 122, ../../app/assets/stylesheets/custom.css.scss */
aside section {
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}
/* line 125, ../../app/assets/stylesheets/custom.css.scss */
aside section:first-child {
  border: 0;
  padding-top: 0;
}
/* line 129, ../../app/assets/stylesheets/custom.css.scss */
aside section span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}
/* line 134, ../../app/assets/stylesheets/custom.css.scss */
aside section h1 {
  font-size: 1.6em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
}

/* line 143, ../../app/assets/stylesheets/custom.css.scss */
.gravatar {
  float: left;
  margin-right: 10px;
}

/* line 148, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation {
  color: #f00;
}
/* line 150, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* forms */
/* line 163, ../../app/assets/stylesheets/custom.css.scss */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* users index */
/* line 174, ../../app/assets/stylesheets/custom.css.scss */
.users {
  list-style: none;
  margin: 0;
}
/* line 177, ../../app/assets/stylesheets/custom.css.scss */
.users li {
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}
/* line 181, ../../app/assets/stylesheets/custom.css.scss */
.users li:last-child {
  border-bottom: 1px solid #eaeaea;
}

/* microposts */
/* line 189, ../../app/assets/stylesheets/custom.css.scss */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;
}
/* line 193, ../../app/assets/stylesheets/custom.css.scss */
.microposts li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

/* line 199, ../../app/assets/stylesheets/custom.css.scss */
.content {
  display: block;
}

/* line 203, ../../app/assets/stylesheets/custom.css.scss */
.timestamp {
  color: #eaeaea;
}

/* line 208, ../../app/assets/stylesheets/custom.css.scss */
aside textarea {
  height: 100px;
  margin-bottom: 5px;
}

/* line 214, ../../app/assets/stylesheets/custom.css.scss */
.stats {
  overflow: auto;
}
/* line 216, ../../app/assets/stylesheets/custom.css.scss */
.stats a {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #eaeaea;
  color: gray;
}
/* line 221, ../../app/assets/stylesheets/custom.css.scss */
.stats a:first-child {
  padding-left: 0;
  border: 0;
}
/* line 225, ../../app/assets/stylesheets/custom.css.scss */
.stats a:hover {
  text-decoration: none;
  color: #eaeaea;
}
/* line 230, ../../app/assets/stylesheets/custom.css.scss */
.stats strong {
  display: block;
}

/* line 235, ../../app/assets/stylesheets/custom.css.scss */
.user_avatars {
  overflow: auto;
  margin-top: 10px;
}
/* line 238, ../../app/assets/stylesheets/custom.css.scss */
.user_avatars .gravatar {
  margin: 1px 1px;
}

/* line 243, ../../app/assets/stylesheets/custom.css.scss */
tr:nth-child(even) {
  background: #cccccc;
}

/* line 247, ../../app/assets/stylesheets/custom.css.scss */
tr:nth-child(odd) {
  background: white;
}

/* line 251, ../../app/assets/stylesheets/custom.css.scss */
table, th, td {
  border: 1px solid black;
  text-align: left;
}

/* line 256, ../../app/assets/stylesheets/custom.css.scss */
.nested_threads {
  padding-top: 10px;
  margin-left: 30px;
}

/* line 261, ../../app/assets/stylesheets/custom.css.scss */
.nested_threads .nested_threads .nested_threads .nested_threads {
  margin-left: 0;
}

/* line 265, ../../app/assets/stylesheets/custom.css.scss */
.forum_thread_header {
  background-color: #dedede;
}

/* line 269, ../../app/assets/stylesheets/custom.css.scss */
.header_title {
  display: inline;
}

/* line 273, ../../app/assets/stylesheets/custom.css.scss */
.header_created_at {
  display: inline;
  float: right;
}

/* line 278, ../../app/assets/stylesheets/custom.css.scss */
.forum_thread_footer {
  background-color: #dedede;
  padding-left: 5px;
}

/* line 283, ../../app/assets/stylesheets/custom.css.scss */
.forum_thread {
  border: 1px solid;
}

/* line 287, ../../app/assets/stylesheets/custom.css.scss */
.forum_thread_content {
  padding-bottom: 40px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 20px;
}

/* line 294, ../../app/assets/stylesheets/custom.css.scss */
.breadcrumbs {
  background-color: #dedede;
  color: #007 !important;
  /* override the color of the link back to default */
  padding-left: 5px;
  padding-right: 5px;
}

/* line 301, ../../app/assets/stylesheets/custom.css.scss */
img {
  border: none;
}

/* line 305, ../../app/assets/stylesheets/custom.css.scss */
.header {
  padding-top: 0px;
  margin-top: 0px;
}

/* line 310, ../../app/assets/stylesheets/custom.css.scss */
.container {
  padding-top: 60px;
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 8, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 13, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 18, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 20, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 22, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 27, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 30, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 33, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 45, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 54, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
body {
	font: 11px Arial, Helvetica, sans-serif;
}
img {
	border: none;
}

/* dock - top */
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 50px;
	/*background: #fff*/
	padding-left: 20px;
}
a.dock-item {
	display: inline;
    background-color: transparent;
    width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
    color: rgba(255,255,255,0)  ;
	border: none; 
	margin: 0px 0px 0px;
    background-color: transparent;
	width: 100%; 
}
.dock-item span {
	display: none;
	padding-left: 0px;
}

/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
