<div class="forum_thread_footer">
	<div class="actions">
		<% if signed_in? %>
		<%= link_to "Reply", new_forum_thread_path(:parent_id => forum_thread, :forum_id => forum_thread.forum_id) %>
		<% if current_user.id == forum_thread.author_id %>
		| <%= link_to "Edit", edit_forum_thread_path(forum_thread.id) %> |
		<%= link_to "Destroy", forum_thread, :confirm => "Are you sure?", :method => :delete %>
		<% end %>
		<% end %>
	</div>
</div>
