/* mixins, variables, etc. */
@import "bootstrap";

$grayMediumLight: #eaeaea;
$grayLighter: #eaeaea;
$grayLight: #aaaaaa;
$blue: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

title {
  line-height: 1;  
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}

td {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.code {

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.digg_pagination {
  background: white;
  cursor: default;
/* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn {
  width: auto;
  text-align: center;
}

#counter {
  width: auto;
  float: left;
  background-color: #fff;
  border-color: #fff;
  padding: 0px;
  color: #aaa;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.userList {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.header_title {
  font-size: 1.5em;
  color: Blue;
  margin: 5px 5px 5px 5px;
}

.header_created_at {
    margin: 5px 5px 5px 5px;
}

.tree_lines {
  display: inline;
}

.post_icon {
  display: inline;
}

.thread_shortcut {
  display: inline;
}
/* microposts */

.micropost {
  list-style: none;
  margin: 30px 0px 0px 0px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.microposts {
    margin: 20px 0px 0px 0px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.thread_summary {
  border: 2px solid;
  margin: 0px 0px 20px 00px;
}

.content {
  display: block;
}

.created_at {
  align: right;
}

.reply_to {
  align: right;
}

.thread_info {
  display: inline;
}

.timestamp {
  color: $grayLight;
  float: left;
  margin: 0px 20px 0px 0px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

tr:nth-child(even) {
  background: #CCC
}

tr:nth-child(odd) {
  background: #FFF
}

table, th, td {
  border: 1px solid black;
  font-size: 1.1em;
}

th {
    text-align: center;
  font-size: 1.5em;

}

.columnTitle {
  font-size: 1.5em;
}

.nested_threads {
  padding-top: 10px;
  margin-left: 30px;
}

.nested_threads .nested_threads .nested_threads .nested_threads {
  margin-left: 0;
}

.nested_threads_headers {
  padding-top: 0px;
  margin-left: 0px;
}

.nested_threads_headers .nested_threads_headers .nested_threads_headers .nested_threads_headers {
  margin-left: 0;
}

.forum_thread_header {
  background-color: #dedede;
}

.header_title {
  display: inline;
}

.header_created_at {
  display: inline;
  float: right;
}

.forum_thread_footer {
  background-color: #dedede;
  padding-left: 5px;
}

.forum_thread {
  border: 1px solid;
}

.forum_thread_content {
  padding-bottom: 40px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 20px;
}

.breadcrumbs {
  background-color: #dedede;
  color: #007 !important; /* override the color of the link back to default */
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 40px;
}

img {
  border: none;
}

header {
  padding-top: 10px;
  margin-top: 10px;
}

.container {
  padding-top: 60px;
}

body {
  font: 11px Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  //background-image:url('1207471022720623706American Eagle 2.svg.hi.png');
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: 400px;
}

img {
  border: none;
}

/* dock - top */
.dock {
  position: relative;
  height: 50px;
  text-align: center;
}

.dock-container {
  position: absolute;
  height: 50px;
/*background: #fff*/
  padding-left: 20px;
}

a.dock-item {
  display: inline;
  background-color: transparent;
  width: 40px;
  color: #000;
  position: absolute;
  top: 0px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
}

.dock-item img {
  color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0px 0px 0px;
  background-color: transparent;
  width: 100%;
}

.dock-item span {
  display: none;
  padding-left: 0px;
}

/* dock2 - bottom */
#dock2 {
  width: 100%;
  bottom: 0px;
  position: absolute;
  left: 0px;
}

.dock-container2 {
  position: absolute;
  height: 50px;
  background: url(dock-bg.gif);
  padding-left: 20px;
}

a.dock-item2 {
  display: block;
  font: bold 12px Arial, Helvetica, sans-serif;
  width: 40px;
  color: #000;
  bottom: 0px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}

.dock-item2 span {
  display: none;
  padding-left: 20px;
}

.dock-item2 img {
  border: none;
  margin: 5px 10px 0px;
  width: 100%;
}

.checkbox_field {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

#remember_me {
  margin-top: 10px;
    width: auto;
    vertical-align: middle;
    position: relative;
    bottom: 6px;
}

// pygmentize styles
.hll {
  background-color: #ffffcc
}

.c {
  color: #408080;
  font-style: italic
}

/* Comment */
.err {
  border: 1px solid #FF0000
}

/* Error */
.k {
  color: #008000;
  font-weight: bold
}

/* Keyword */
.o {
  color: #666666
}

/* Operator */
.cm {
  color: #408080;
  font-style: italic
}

/* Comment.Multiline */
.cp {
  color: #BC7A00
}

/* Comment.Preproc */
.c1 {
  color: #408080;
  font-style: italic
}

/* Comment.Single */
.cs {
  color: #408080;
  font-style: italic
}

/* Comment.Special */
.gd {
  color: #A00000
}

/* Generic.Deleted */
.ge {
  font-style: italic
}

/* Generic.Emph */
.gr {
  color: #FF0000
}

/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold
}

/* Generic.Heading */
.gi {
  color: #00A000
}

/* Generic.Inserted */
.go {
  color: #808080
}

/* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold
}

/* Generic.Prompt */
.gs {
  font-weight: bold
}

/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold
}

/* Generic.Subheading */
.gt {
  color: #0040D0
}

/* Generic.Traceback */
.kc {
  color: #008000;
  font-weight: bold
}

/* Keyword.Constant */
.kd {
  color: #008000;
  font-weight: bold
}

/* Keyword.Declaration */
.kn {
  color: #008000;
  font-weight: bold
}

/* Keyword.Namespace */
.kp {
  color: #008000
}

/* Keyword.Pseudo */
.kr {
  color: #008000;
  font-weight: bold
}

/* Keyword.Reserved */
.kt {
  color: #B00040
}

/* Keyword.Type */
.m {
  color: #666666
}

/* Literal.Number */
.s {
  color: #BA2121
}

/* Literal.String */
.na {
  color: #7D9029
}

/* Name.Attribute */
.nb {
  color: #008000
}

/* Name.Builtin */
.nc {
  color: #0000FF;
  font-weight: bold
}

/* Name.Class */
.no {
  color: #880000
}

/* Name.Constant */
.nd {
  color: #AA22FF
}

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold
}

/* Name.Entity */
.ne {
  color: #D2413A;
  font-weight: bold
}

/* Name.Exception */
.nf {
  color: #0000FF
}

/* Name.Function */
.nl {
  color: #A0A000
}

/* Name.Label */
.nn {
  color: #0000FF;
  font-weight: bold
}

/* Name.Namespace */
.nt {
  color: #008000;
  font-weight: bold
}

/* Name.Tag */
.nv {
  color: #19177C
}

/* Name.Variable */
.ow {
  color: #AA22FF;
  font-weight: bold
}

/* Operator.Word */
.w {
  color: #bbbbbb
}

/* Text.Whitespace */
.mf {
  color: #666666
}

/* Literal.Number.Float */
.mh {
  color: #666666
}

/* Literal.Number.Hex */
.mi {
  color: #666666
}

/* Literal.Number.Integer */
.mo {
  color: #666666
}

/* Literal.Number.Oct */
.sb {
  color: #BA2121
}

/* Literal.String.Backtick */
.sc {
  color: #BA2121
}

/* Literal.String.Char */
.sd {
  color: #BA2121;
  font-style: italic
}

/* Literal.String.Doc */
.s2 {
  color: #BA2121
}

/* Literal.String.Double */
.se {
  color: #BB6622;
  font-weight: bold
}

/* Literal.String.Escape */
.sh {
  color: #BA2121
}

/* Literal.String.Heredoc */
.si {
  color: #BB6688;
  font-weight: bold
}

/* Literal.String.Interpol */
.sx {
  color: #008000
}

/* Literal.String.Other */
.sr {
  color: #BB6688
}

/* Literal.String.Regex */
.s1 {
  color: #BA2121
}

/* Literal.String.Single */
.ss {
  color: #19177C
}

/* Literal.String.Symbol */
.bp {
  color: #008000
}

/* Name.Builtin.Pseudo */
.vc {
  color: #19177C
}

/* Name.Variable.Class */
.vg {
  color: #19177C
}

/* Name.Variable.Global */
.vi {
  color: #19177C
}

/* Name.Variable.Instance */
.il {
  color: #666666
}

/* Literal.Number.Integer.Long */