<div class="forum_thread">
	<%= render "shared/forum_thread_header", forum_thread: forum_thread %>
	<%= render "shared/forum_thread_content", forum_thread: forum_thread %>
	<%= render "shared/forum_thread_footer", forum_thread: forum_thread %>
</div>