<h1>Editing</h1>

<h4> We now support markdown in forum posts, see the help page for more info</h4>
<%= render 'form' %>

<%= link_to 'Show', @forum_thread %> |
<%= link_to 'Back', forum_threads_path %>
